/// Global Style
//
body {
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    font-size: 17px;
    height: 100dvh;
    overflow: auto;
    margin: 0;
    padding: 0;
}

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Bevan:ital@0;1&family=Dongle&family=Quicksand:wght@300..700&display=swap');
// font-family: "Quicksand", serif;
// font-family: "Dongle", sans-serif;
// font-family: "Bevan", serif;
$font-base : 20px;
$font-title-big : 40px;
$font-title-medium : 30px;
$font-subtitle : 25px;
$font-small : 15px;
$font-biggest : 60px;

// Color
$base-green: #1ffb96;
$base-shade:#0000561a;
$base-yellow:#fffd00;
$base-pink: #ff0099;
$base-light-grey: #ffffff1a;
$base-orange: #ff7c1e;
$base-red: #ff0000;

$base-gradient: linear-gradient(rgba(255, 253, 0, 1) 10%, rgba(31, 251, 150, 1) 100%);
$gradient-red: linear-gradient(to bottom, #ffffff, $base-red, $base-red);
$gradient-green: linear-gradient(to bottom, #ffffff, $base-green, $base-green);
$gradient-orange: linear-gradient(to bottom, #ffffff, $base-orange, $base-orange);
$gradient-light-grey: linear-gradient(to bottom, #ffffff, $base-light-grey, $base-light-grey);
// Custom styles 

.pink-background {
    background: linear-gradient(
        rgba(255, 255, 255, 1), 
        rgba(255, 255, 255, 1),
        rgba(255, 255, 255, 1),
        rgb(255, 0, 153, 0.1),
        rgb(255, 0, 153, 0.4),
        rgb(255, 0, 153, 0.7),
        $base-pink
    );
}

.pink-background-2 {
    background: linear-gradient(
        rgba(255, 255, 255, 1),
        rgb(255, 0, 153, 0.1),
        rgb(255, 0, 153, 0.1),
        rgb(255, 0, 153, 0.4),
        rgb(255, 0, 153, 0.4),
        rgb(255, 0, 153, 0.7),
        rgb(255, 0, 153, 0.7),
        $base-pink
    );
}

.big-title {
    font-size: $font-title-big;
    font-weight: 600;
    margin: 15px auto;
}
.title {
    font-size: $font-title-medium;
    font-weight: 500;
}
.subtitle {
    text-decoration: underline dotted;
}

// Primevue components
.p-button {
    min-width: 220px;
    padding: 10px 20px;
    backdrop-filter: blur(15px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.3);
    font-weight: 500;
    color: rgb(0, 0, 0);

    .p-button-icon {
        margin: 5px 10px;
    }

    .p-button-label {
        text-shadow: 0 0 10px white;
    }
}

// animations

.zoom-in-out-animation {
    animation: zoom-in-zoom-out 1s ease 2s 2;
}

@keyframes zoom-in-zoom-out {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.halo-animation {
    position: relative;
    animation: halo 1s infinite alternate;
    // text-shadow: 0 0 15px #ff0099;
}

@keyframes halo {
    to {
        text-shadow: -5px 0 20px #ffffff,
        5px 0 20px #ffffff,
        0 -5px 20px #ffffff,
        0 5px 20px #ffffff;
    }
}

// https://css-loaders.com/blob/
.loader {
    width: 120px;
    height: 50px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    background: #fff;
    mix-blend-mode: darken;
    margin: auto;
}
.loader:before,
.loader:after {
    content: "";
    width: 30px;
    border-radius: 50%;
    background: $base-green;
    animation: l3 1s infinite alternate;
}
.loader:after {
    --s:-1;
}
@keyframes l3{
    90%,
    100% {
        transform: translate(calc(var(--s,1)*30px))
    }
}